/* .center {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */
body {
  background-color: rgb(191, 238, 240);
  font-family: sans-serif;
}
p {
  font-size: x-large;
}
/* body {
  background-repeat: no-repeat;
} */

#more-info {
  display: none;
}
